- name: Update repositories (Debian/Ubuntu)
  when: ansible_facts.os_family == "Debian"
  block:
  - name: Kubernetes - Download GPG keyring
    ansible.builtin.get_url:
      dest: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}
      group: root
      mode: '0644'
      owner: root
      url: https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/Release.key

  - name: Add an apt signing key for Kubernetes
    args:
      creates: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg
    changed_when: false
    ansible.builtin.command: gpg --batch --yes --dearmor /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}

  - name: Set file permissions for keyring
    ansible.builtin.file:
      group: root
      mode: '0644'
      owner: root
      path: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg

  - name: Update kubernetes list file
    changed_when: true
    ansible.builtin.shell: |
      set -o pipefail
      echo "deb [signed-by=/etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/ /" | sudo tee /etc/apt/sources.list.d/kubernetes.list

  - name: Adding apt repository for Kubernetes
    ansible.builtin.apt_repository:
      filename: kubernetes-{{ kubernetes_version }}.list
      repo: deb [signed-by=/etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/ /
      state: present

  - name: Find latest kubernetes version in apt
    ansible.builtin.apt:
      allow_change_held_packages: true
      update_cache: true

- name: Update repositories (RedHat/Rocky/Alma/Fedora)
  when: ansible_facts.os_family == "RedHat"
  block:
  - name: Update Kubernetes repository
    ansible.builtin.yum_repository:
      baseurl: "https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/rpm/"
      description: Kubernetes
      enabled: true
      gpgcheck: true
      gpgkey: https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/rpm/repodata/repomd.xml.key
      name: kubernetes
