- name: Upgrade packages
  ansible.builtin.import_tasks: update-repositories.yml

- name: Get latest specified version (Debian/Ubuntu)
  when: ansible_facts.os_family == "Debian"
  block:
  - name: Get latest specified version of kubeadm, kubelet and kubectl
    changed_when: true
    register: k8s_version_temp
    ansible.builtin.shell:
      cmd: |
        set -eo pipefail
        apt-cache madison kubeadm | grep "{{ version }}" | head -n 1 | awk '{print $3}'
      executable: /bin/bash

  - name: Set k8s_version fact
    ansible.builtin.set_fact:
      k8s_version: "{{ k8s_version_temp.stdout }}"

  - name: Update kubeadm k8s_version
    ansible.builtin.apt:
      allow_change_held_packages: true
      name: kubeadm={{ k8s_version }}
      state: present

  - name: Hold kubeadm
    with_items:
    - kubeadm
    ansible.builtin.dpkg_selections:
      name: "{{ item }}"
      selection: hold

- name: Get latest specified version (RedHat/Rocky/Alma/Fedora)
  when: ansible_facts.os_family == "RedHat"
  block:
  - name: Get latest specified version of kubeadm, kubelet and kubectl
    changed_when: true
    register: k8s_version_temp
    ansible.builtin.shell:
      cmd: |
        set -eo pipefail
        dnf list --showduplicates kubeadm | grep "{{ version }}" | head -n 1 | awk '{print $2}' | cut -d ':' -f 2
      executable: /bin/bash

  - name: Set k8s_version fact
    ansible.builtin.set_fact:
      k8s_version: "{{ k8s_version_temp.stdout }}"

  - name: Remove kubeadm version lock
    changed_when: false
    ansible.builtin.command:
      cmd: dnf versionlock delete kubeadm

  - name: Update kubeadm k8s_version
    ansible.builtin.dnf:
      name: kubeadm-{{ k8s_version }}
      state: present

  - name: Hold kubeadm
    changed_when: false
    ansible.builtin.command:
      cmd: dnf versionlock add kubeadm

- name: Get kubeadm version
  changed_when: false
  register: kubeadm_version
  ansible.builtin.command: kubeadm version -o short

- name: Update control plane configuration files for new version
  when:
  - inventory_hostname in groups['control_planes']
  ansible.builtin.include_role:
    name: kubernetes-control-plane
    tasks_from: configure-control-plane.yml

- name: Create kubeadm upgrade config file
  when:
  - inventory_hostname in groups['control_planes']
  with_items:
  - {file: "kubeadm-upgrade.yaml.j2", destination: "{{ kubernetes_config_directory }}/kubeadm-upgrade.yaml"}
  ansible.builtin.template:
    src: "{{ item.file }}"
    dest: "{{ item.destination }}"
    owner: root
    group: root
    mode: "{{ item.mode | default('0600') }}"
    backup: false

- name: Upgrade kubernetes primary control plane node
  changed_when: true
  when: first_kube_control_plane == inventory_hostname
  ansible.builtin.command: kubeadm upgrade apply {{ kubeadm_version.stdout }} --config {{ kubernetes_config_directory }}/kubeadm-upgrade.yaml --yes

- name: Upgrade non kubernetes primary control plane node
  changed_when: true
  when:
  - first_kube_control_plane != inventory_hostname
  - inventory_hostname in groups['control_planes']
  ansible.builtin.command: kubeadm upgrade node --config {{ kubernetes_config_directory }}/kubeadm-upgrade.yaml

- name: Upgrade worker nodes
  changed_when: true
  when:
  - inventory_hostname not in groups['control_planes']
  ansible.builtin.command: kubeadm upgrade node

- name: Drain kubernetes node
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  ansible.builtin.shell:
    cmd: |
      kubectl drain {{ inventory_hostname_short }} --ignore-daemonsets --delete-emptydir-data --force --grace-period=30 --kubeconfig /etc/kubernetes/admin.conf

- name: Update kubelet and kubectl (Debian/Ubuntu)
  when: ansible_facts.os_family == "Debian"
  block:
  - name: Update kubelet and kubectl to specified k8s_version
    with_items:
    - kubelet={{ k8s_version }}
    - kubectl={{ k8s_version }}
    ansible.builtin.apt:
      allow_change_held_packages: true
      name: "{{ item }}"
      state: present

  - name: Upgrade containerd to latest version
    ansible.builtin.apt:
      allow_change_held_packages: true
      name: containerd.io
      only_upgrade: true
      state: latest

  - name: Reconfigure containerd for new version
    ansible.builtin.include_role:
      name: containerd
      tasks_from: configure-containerd.yml

  - name: Hold kubelet, kubectl and containerd.io
    with_items:
    - kubelet
    - kubectl
    - containerd.io
    ansible.builtin.dpkg_selections:
      name: "{{ item }}"
      selection: hold

- name: Update kubelet and kubectl (RedHat/Rocky/Alma/Fedora)
  when: ansible_facts.os_family == "RedHat"
  block:
  - name: Remove version locks
    changed_when: true
    with_items:
    - kubelet
    - kubectl
    - containerd.io
    ansible.builtin.command:
      cmd: dnf versionlock delete {{ item }}

  - name: Update kubelet and kubectl to specified k8s_version
    with_items:
    - kubelet-{{ k8s_version }}
    - kubectl-{{ k8s_version }}
    ansible.builtin.dnf:
      name: "{{ item }}"
      state: present

  - name: Upgrade containerd to the latest version
    ansible.builtin.dnf:
      name: containerd.io
      state: latest  # noqa: package-latest

  - name: Reconfigure containerd for new version
    ansible.builtin.include_role:
      name: containerd
      tasks_from: configure-containerd.yml

  - name: Hold kubelet, kubectl and containerd.io
    changed_when: true
    with_items:
    - kubelet
    - kubectl
    - containerd.io
    ansible.builtin.command:
      cmd: dnf versionlock add {{ item }}

- name: Reload kubelet
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    name: kubelet
    state: restarted

- name: Uncordon kubernetes node
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  ansible.builtin.shell:
    cmd: timeout 300 bash -c 'while [[ ! `sudo kubectl uncordon {{ inventory_hostname_short }} --kubeconfig /etc/kubernetes/admin.conf` ]]; do sleep 5; done'

- name: Wait for kubernetes node to be ready
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  ansible.builtin.shell:
    cmd: timeout 300 bash -c 'while [[ ! `kubectl wait --for=condition=Ready node/{{ inventory_hostname_short }} --timeout=5m --kubeconfig /etc/kubernetes/admin.conf` ]]; do sleep 5; done'
