- name: Remove kubernetes apt repository
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/kubernetes.list
    state: absent

- name: Kubernetes - Download GPG keyring
  ansible.builtin.get_url:
    dest: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}
    group: root
    mode: '0644'
    owner: root
    url: https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/Release.key

- name: Add an apt signing key for Kubernetes
  args:
    creates: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg
  changed_when: false
  ansible.builtin.command: gpg --batch --yes --dearmor /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}

- name: Set file permissions for keyring
  ansible.builtin.file:
    group: root
    mode: '0644'
    owner: root
    path: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg

- name: Adding apt repository for Kubernetes
  ansible.builtin.apt_repository:
    filename: kubernetes-{{ kubernetes_version }}.list
    repo: deb [signed-by=/etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/ /
    state: present

- name: Find latest kubernetes version in apt
  ansible.builtin.apt:
    allow_change_held_packages: true
    update_cache: true
