# Documentation:
#   https://docs.ansible.com/projects/lint/rules/yaml/#yamllint-configuration

extends: default

rules:
  indentation:
    indent-sequences: false
  line-length: disable
  truthy:
    check-keys: false

  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
