apiVersion: v1
kind: Pod
metadata:
  annotations:
    haproxy-playbook-run-date: "{{ template_run_date }}"
  labels:
    component: kube-apiserver-proxy
    tier: control-plane
  name: kube-apiserver-proxy
  namespace: kube-system
spec:
  containers:
  - image: {{ kubernetes_api_server_proxy_image | default('haproxy') }}:{{ kubernetes_api_server_proxy_image_tag | default('lts') }}
    imagePullPolicy: {{ kubernetes_api_server_proxy_image_pull_policy | default('Always') }}
    name: kube-apiserver-proxy
    ports:
    - containerPort: {{ kubernetes_proxy_port }}
      nodePort: {{ kubernetes_proxy_port }}
      name: ingress
      protocol: TCP
    - containerPort: 1936
      name: metrics
      protocol: TCP
    resources:
      limits:
        cpu: 500m
        memory: 100Mi
      requests:
        cpu: 250m
        memory: 50Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: 1936
        scheme: HTTP
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /healthz
        port: 1936
        scheme: HTTP
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    startupProbe:
      httpGet:
        path: /healthz
        port: 1936
        scheme: HTTP
      initialDelaySeconds: 1
      periodSeconds: 1
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/haproxy.cfg
      name: config-file
      readOnly: true
    - mountPath: /run/haproxy
      name: run
      readOnly: false
  hostNetwork: true
  priority: 2000001000
  priorityClassName: system-node-critical
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
  - hostPath:
      path: /etc/kubernetes/config/haproxy.cfg
      type: File
    name: config-file
  - emptyDir:
      medium: Memory
    name: run
