- name: Copy file kubeconfig from first control plane node
  become: true
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubernetes_admin_conf
  run_once: true
  ansible.builtin.slurp:
    src: /etc/kubernetes/admin.conf

- name: Create ~/.kube directory
  become: false
  delegate_to: localhost
  run_once: true
  ansible.builtin.file:
    dest: ~/.kube
    mode: "0700"
    state: directory

- name: Copy admin kubeconfig to ~/.kube directory
  become: false
  delegate_to: localhost
  run_once: true
  ansible.builtin.copy:
    content: "{{ kubernetes_admin_conf.content | b64decode }}"
    dest: ~/.kube/config
    mode: "0600"
