vrrp_instance VI_1 {
    state {{ vrrp_state }}
    interface {{ vrrp_interface }}
    virtual_router_id {{ vrrp_virtual_router_id }}
    priority {{ vrrp_priority }}
    advert_int 1
    authentication {
    auth_type PASS
    auth_pass {{ vrrp_password }}
    }
    virtual_ipaddress {
    {{ control_plane_ip }}/24
    }
}
