[Unit]
Description=Distribution registry
After=docker.service
Requires=docker.service

[Service]
NotifyAccess=all
Type=notify
WatchdogSec=30s
Environment="CONFIG={{ mirror.config_path | default(registry_mirror_config_path + '/' + sanitized_mirror_name + '.yaml') }}"
Environment="DATA_PATH={{ mirror.data_path }}"
Environment="IMAGE={{ mirror.image | default('registry:3') }}"
Environment="MIRROR_GID={{ mirror.group_id | default(1000) }}"
Environment="MIRROR_UID={{ mirror.user_id | default(1000) }}"
Environment="PORT={{ mirror.port }}"
Environment="NAME=mirror-{{ sanitized_mirror_name }}"
Environment="OTEL_TRACES_EXPORTER=none"
Restart=always
ExecStart={{ registry_mirror_service_path | default(registry_mirror_config_path) }}/service.sh --state "start"
ExecStop={{ registry_mirror_service_path | default(registry_mirror_config_path) }}/service.sh --state "stop"

[Install]
WantedBy=multi-user.target
