# This file contains the configuration tasks for control plane nodes.
# It is included by both the install (main.yml) and upgrade roles.
# These tasks push version-specific configuration files that may change between Kubernetes versions.

- name: Create kubernetes/config/patches directory
  loop:
  - "{{ kubernetes_config_directory }}/patches"
  - "{{ kubernetes_scripts_directory }}"
  loop_control:
    loop_var: directory
  ansible.builtin.file:
    dest: "{{ directory }}"
    mode: '0700'
    state: directory

- name: Create kubernetes configuration files
  loop:
  - {file: "encryption-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/encryption.yaml"}
  # CIS 3.1.1, 3.1.2, 3.1.3
  - {file: "kube-api-authentication-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/kube-api-authentication.yaml"}
  # CIS 1.2.6, 1.2.7, 1.2.8
  # STIG V-242382
  - {file: "kube-api-authorization-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/kube-api-authorization.yaml"}
  # STIG V-254800
  - {file: "admission-configuration-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/admission-configuration.yaml"}
  # CIS 1.1.12
  # STIG V-242459
  - {file: "etcd-patch-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/patches/etcd.yaml"}
  loop_control:
    loop_var: file
  ansible.builtin.template:
    backup: false
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.file }}"

- name: Create kubernetes automatic certificate renewal scripts and service files
  loop:
  - {file: "k8s-certs-renew.sh.j2", destination: "{{ kubernetes_scripts_directory }}/k8s-certs-renew.sh", mode: "0755"}
  - {file: "k8s-certs-renew.service.j2", destination: "/etc/systemd/system/k8s-certs-renew.service", mode: "0644"}
  - {file: "k8s-certs-renew.timer.j2", destination: "/etc/systemd/system/k8s-certs-renew.timer", mode: "0644"}
  loop_control:
    loop_var: file
  when: kubernetes_manage_cert_renewal
  ansible.builtin.template:
    backup: false
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.file }}"

- name: Copy additional control plane files
  loop: "{{ kubernetes_control_plane_additional_files }}"
  loop_control:
    loop_var: file
  ansible.builtin.copy:
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.source }}"

- name: Copy additional control plane templates
  loop: "{{ kubernetes_control_plane_additional_templates }}"
  loop_control:
    loop_var: file
  ansible.builtin.template:
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.source }}"

# CIS 3.2.1
- name: Create Kubernetes audit policy file
  ansible.builtin.copy:
    dest: "{{ kubernetes_config_directory }}/audit-policy.yaml"
    group: root
    mode: '0600'
    owner: root
    src: audit-policy.yaml
