- name: Pre configure control plane hooks
  loop: "{{ kubernetes_hookfiles.pre_configure_control_planes }}"
  loop_control:
    loop_var: hook
  when:
  - kubernetes_hookfiles.pre_configure_control_planes is defined
  ansible.builtin.include_tasks: "{{ hook }}"

- name: Create kubernetes/config/patches directory
  loop:
  - "{{ kubernetes_config_directory }}/patches"
  - "{{ kubernetes_scripts_directory }}"
  loop_control:
    loop_var: directory
  ansible.builtin.file:
    dest: "{{ directory }}"
    mode: '0700'
    state: directory

- name: Create kubernetes configuration files
  loop:
  - {file: "encryption-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/encryption.yaml"}
  # CIS 3.1.1, 3.1.2, 3.1.3
  - {file: "kube-api-authentication-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/kube-api-authentication.yaml"}
  # CIS 1.2.6, 1.2.7, 1.2.8
  # STIG V-242382
  - {file: "kube-api-authorization-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/kube-api-authorization.yaml"}
  # STIG V-254800
  - {file: "admission-configuration-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/admission-configuration.yaml"}
  # CIS 1.1.12
  # STIG V-242459
  - {file: "etcd-patch-{{ kubernetes_version }}.yaml.j2", destination: "{{ kubernetes_config_directory }}/patches/etcd.yaml"}
  loop_control:
    loop_var: file
  ansible.builtin.template:
    backup: false
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.file }}"

- name: Create kubernetes automatic certificate renewal scripts and service files
  loop:
  - {file: "k8s-certs-renew.sh.j2", destination: "{{ kubernetes_scripts_directory }}/k8s-certs-renew.sh", mode: "0755"}
  - {file: "k8s-certs-renew.service.j2", destination: "/etc/systemd/system/k8s-certs-renew.service", mode: "0644"}
  - {file: "k8s-certs-renew.timer.j2", destination: "/etc/systemd/system/k8s-certs-renew.timer", mode: "0644"}
  loop_control:
    loop_var: file
  when: kubernetes_manage_cert_renewal
  ansible.builtin.template:
    backup: false
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.file }}"

- name: Copy additional control plane files
  loop: "{{ kubernetes_control_plane_additional_files }}"
  loop_control:
    loop_var: file
  ansible.builtin.copy:
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.source }}"

- name: Copy additional control plane templates
  loop: "{{ kubernetes_control_plane_additional_templates }}"
  loop_control:
    loop_var: file
  ansible.builtin.template:
    dest: "{{ file.destination }}"
    group: root
    mode: "{{ file.mode | default('0600') }}"
    owner: root
    src: "{{ file.source }}"

# CIS 3.2.1
- name: Create kubernetes audit policy file
  dest: "{{ kubernetes_config_directory }}/audit-policy.yaml"
  group: root
  mode: '0600'
  owner: root
  src: audit-policy.yaml
  ansible.builtin.copy:

- name: Create etcd group
  gid: 500
  name: etcd
  system: true
  ansible.builtin.group:

- name: Create etcd user
  ansible.builtin.user:
    comment: "etcd user"
    create_home: false
    group: etcd
    name: etcd
    shell: /bin/false
    system: true
    uid: 500

- name: Renew K8S control plane certificates monthly systemd timer
  when: kubernetes_manage_cert_renewal
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    name: k8s-certs-renew.timer
    state: started

- name: Install Helm
  when: kubernetes_install_helm
  block:
  - name: Helm - Download GPG keyring
    dest: /etc/apt/keyrings/helm
    group: root
    mode: '0644'
    owner: root
    url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
    ansible.builtin.get_url:

  - name: Add an apt signing key for Helm
    args:
      creates: /etc/apt/keyrings/helm.gpg
    ansible.builtin.command: gpg --batch --yes --dearmor /etc/apt/keyrings/helm

  - name: Set helm gpg signing key permissions
    dest: /etc/apt/keyrings/helm.gpg
    group: root
    mode: '0644'
    owner: root
    ansible.builtin.file:

  - name: Add helm apt repository
    filename: helm
    repo: deb [signed-by=/etc/apt/keyrings/helm.gpg] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main
    state: present
    update_cache: true
    ansible.builtin.apt_repository:

  - name: Install helm
    name: helm
    state: present
    ansible.builtin.apt:

- name: Install etcd-client
  name: etcd-client
  state: present
  ansible.builtin.apt:

- name: Install Kustomize
  when: kubernetes_install_kustomize
  block:
  - name: Download Kustomize
    dest: /tmp/install_kustomize.sh
    group: root
    mode: '0755'
    owner: root
    url: https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh
    ansible.builtin.get_url:

  - name: Install Kustomize
    ansible.builtin.shell:
      cmd: |
        set -eo pipefail
        /tmp/install_kustomize.sh
        mv kustomize /usr/local/bin/kustomize
      creates: /usr/local/bin/kustomize
      executable: /bin/bash

  - name: Remove Kustomize install script
    path: /tmp/install_kustomize.sh
    state: absent
    ansible.builtin.file:

- name: Post configure control plane hooks
  loop: "{{ kubernetes_hookfiles.post_configure_control_planes }}"
  loop_control:
    loop_var: hook
  when:
  - kubernetes_hookfiles.post_configure_control_planes is defined
  ansible.builtin.include_tasks: "{{ hook }}"

- name: Initialize control plane
  delegate_to: "{{ first_kube_control_plane }}"
  run_once: true
  when:
  - kubernetes_initialize_ran is not defined or
    not kubernetes_initialize_ran
  ansible.builtin.import_tasks:
    file: initialize-control-plane.yml

- name: Set kubernetes_initialize_ran to true
  delegate_facts: true
  delegate_to: "{{ node }}"
  loop: "{{ ansible_play_hosts }}"
  loop_control:
    loop_var: node
  run_once: true
  ansible.builtin.set_fact:
    kubernetes_initialize_ran: true

- name: Get Join token
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  register: temp_token
  run_once: true
  ansible.builtin.command:
    cmd: kubeadm token create --kubeconfig /etc/kubernetes/admin.conf

- name: Get CA certificate hash
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: cluster_ca_cert_hash_temp
  run_once: true
  ansible.builtin.shell:
    cmd: |
      set -eo pipefail
      openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt | \
      openssl rsa -pubin -outform der 2>/dev/null | \
      openssl dgst -sha256 -hex | sed 's/^.* //'
    executable: /usr/bin/bash

- name: Upload certificates so they are fresh and not expired
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubeadm_upload_cert
  run_once: true
  ansible.builtin.command:
    cmd: kubeadm init phase --config {{ kubernetes_config_directory }}/kubeadm.yaml upload-certs --upload-certs

- name: Set facts
  run_once: true
  ansible.builtin.set_fact:
    cluster_ca_cert_hash: "sha256:{{ cluster_ca_cert_hash_temp.stdout }}"
    join_token: "{{ temp_token.stdout }}"
    kubeadm_upload_token: "{{ kubeadm_upload_cert.stdout_lines[-1] | trim }}"

- name: Configure additional control planes
  when:
  - first_kube_control_plane != inventory_hostname
  - inventory_hostname in groups['control_planes']
  ansible.builtin.import_tasks:
    file: secondary-control-plane.yml

# Get an updated list of nodes in the cluster
- name: Get nodes in the cluster
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubernetes_nodes
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes -o custom-columns=NAME:.metadata.name --no-headers

- name: Set the node name fact
  ansible.builtin.set_fact:
    kubernetes_node_name: "{% if inventory_hostname in kubernetes_nodes.stdout_lines %}{{ inventory_hostname }}{% elif inventory_hostname_short in kubernetes_nodes.stdout_lines %}{{ inventory_hostname_short }}{% endif %}"

- name: Fail if Kubernetes node name could not be determined
  when:
  - kubernetes_node_name is not defined or
    kubernetes_node_name | length == 0
  ansible.builtin.fail:
    msg: >-
      Could not determine Kubernetes node name for host {{ inventory_hostname }}.
      Ensure either '{{ inventory_hostname }}' or '{{ inventory_hostname_short }}' appears
      in the list of Kubernetes nodes: {{ kubernetes_nodes.stdout_lines | default('') | join(', ') }}

# This kubectl command returns all certificate signing requests for the node, one per line
- name: Get certificate signing requests
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: csr_check
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get csr -o jsonpath='{range .items[?(@.spec.username=="system:node:{{ kubernetes_node_name }}")]}{.metadata.name}{"\n"}{end}'

- name: Approve certificate signing requests
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  loop: "{{ csr_check.stdout_lines }}"
  loop_control:
    loop_var: csr_name
  when:
  - csr_check.stdout_lines | length > 0
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf certificate approve "{{ csr_name }}"
