- name: Initialize control plane
  delegate_to: "{{ first_kube_control_plane }}"
  run_once: true
  when:
  - kubernetes_initialize_ran is not defined or
    not kubernetes_initialize_ran
  ansible.builtin.import_tasks:
    file: initialize-control-plane.yml

- name: Set kubernetes_initialize_ran to true
  delegate_facts: true
  delegate_to: "{{ node }}"
  loop_control:
    loop_var: node
  loop: "{{ ansible_play_hosts }}"
  run_once: true
  ansible.builtin.set_fact:
    kubernetes_initialize_ran: true

- name: Get Join token
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  register: temp_token
  run_once: true
  ansible.builtin.command:
    cmd: kubeadm token create --kubeconfig /etc/kubernetes/admin.conf

- name: Get CA certificate hash
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: cluster_ca_cert_hash_temp
  run_once: true
  ansible.builtin.shell:
    cmd: |
      set -eo pipefail
      openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt | \
      openssl rsa -pubin -outform der 2>/dev/null | \
      openssl dgst -sha256 -hex | sed 's/^.* //'
    executable: /usr/bin/bash

- name: Upload certificates so they are fresh and not expired
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubeadm_upload_cert
  run_once: true
  ansible.builtin.command:
    cmd: kubeadm init phase --config {{ kubernetes_config_directory }}/kubeadm.yaml upload-certs --upload-certs

- name: Set facts
  run_once: true
  ansible.builtin.set_fact:
    cluster_ca_cert_hash: "sha256:{{ cluster_ca_cert_hash_temp.stdout }}"
    join_token: "{{ temp_token.stdout }}"
    kubeadm_upload_token: "{{ kubeadm_upload_cert.stdout_lines[-1] | trim }}"

- name: Configure additional control planes
  when:
  - first_kube_control_plane != inventory_hostname
  - inventory_hostname in groups['control_planes']
  ansible.builtin.import_tasks:
    file: secondary-control-plane.yml

# Get an updated list of nodes in the cluster
- name: Get nodes in the cluster
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubernetes_nodes
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes -o custom-columns=NAME:.metadata.name --no-headers

- name: Set the node name fact
  ansible.builtin.set_fact:
    kubernetes_node_name: "{% if inventory_hostname in kubernetes_nodes.stdout_lines %}{{ inventory_hostname }}{% elif inventory_hostname_short in kubernetes_nodes.stdout_lines %}{{ inventory_hostname_short }}{% endif %}"

# This kubectl command returns all certificate signing requests for the node in a single line, space separated if there are multiple
- name: Get certificate signing requests
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: csr_check
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get csr -o jsonpath='{.items[?(@.spec.username=="system:node:{{ kubernetes_node_name }}")].metadata.name}'

- name: Approve certificate signing requests
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  when:
  - csr_check.stdout != ""
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf certificate approve {{ csr_check.stdout }}
