- name: Check if we need to join the cluster
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  failed_when: kubernetes_needs_to_join_cluster_cmd.rc != 0 and kubernetes_needs_to_join_cluster_cmd.rc != 1
  register: kubernetes_needs_to_join_cluster_cmd
  ansible.builtin.shell:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes {{ inventory_hostname_short }} && exit 1 || exit 0

- name: Set kubernetes_needs_to_join_cluster
  ansible.builtin.set_fact:
    kubernetes_needs_to_join_cluster: "{{ kubernetes_needs_to_join_cluster_cmd.rc == 0 }}"

- name: Create kubeadm file
  register: kubeadm_file
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.template:
    backup: true
    dest: "{{ kubernetes_config_directory }}/kubeadm.yaml"
    group: root
    mode: '0600'
    owner: root
    src: kubeadm-join-{{ kubernetes_version }}.yaml.j2

- name: Pull control plane certs down
  changed_when: kubernetes_pull_certs.rc == 0
  register: kubernetes_pull_certs
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.shell:
    cmd: |
      set -eo pipefail
      kubeadm join phase control-plane-prepare download-certs --config {{ kubernetes_config_directory }}/kubeadm.yaml -v5 2>&1
    executable: /bin/bash

- name: Stop kubelet
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.systemd:
    enabled: true
    name: kubelet
    state: stopped

- name: Add the control plane node
  changed_when: kubeadm_join_output.rc == 0
  register: kubeadm_join_output
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.shell:
    cmd: |
      set -eo pipefail
      kubeadm join --config {{ kubernetes_config_directory }}/kubeadm.yaml {{ kubernetes_kubeadm_join_extra_args | default('') }} 2>&1
    executable: /bin/bash

- name: Create the /root/.kube directory
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.file:
    group: root
    mode: '0600'
    owner: root
    path: /root/.kube
    state: directory

- name: Link admin.conf to /root/.kube/config
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.file:
    dest: /root/.kube/config
    src: /etc/kubernetes/admin.conf
    state: link

- name: Start kubelet
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.service:
    enabled: true
    name: kubelet
    state: started

# CIS 1.1.20
- name: CIS 1.1.20 - Secure certificates
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.file:
    mode: '0600'
    path: "{{ kubernetes_pki_directory }}"
    recurse: true

# CIS 4.1.1
- name: CIS 4.1.1 - Set kubelet.service to 0600
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.file:
    mode: '0600'
    path: /usr/lib/systemd/system/kubelet.service

# CIS 4.1.9
# STIG V-242407
- name: CIS 4.1.9, STIG V-242407 - Set kubelet config.yaml to 0600
  when: kubernetes_needs_to_join_cluster
  ansible.builtin.file:
    mode: '0600'
    path: /var/lib/kubelet/config.yaml

- name: Post control plane join hooks
  loop: "{{ kubernetes_hookfiles.post_control_plane_join }}"
  loop_control:
    loop_var: hook
  when: kubernetes_hookfiles.post_control_plane_join is defined
  ansible.builtin.include_tasks: "{{ hook }}"
