- name: Get nodes in the cluster
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubernetes_nodes
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes -o custom-columns=NAME:.metadata.name --no-headers

- name: Check if the node needs to join the cluster
  ansible.builtin.set_fact:
    kubernetes_needs_to_join_cluster: "{% if inventory_hostname in kubernetes_nodes.stdout_lines or inventory_hostname_short in kubernetes_nodes.stdout_lines %}{{ 'false' | bool }}{% else %}{{ 'true' | bool }}{% endif %}"

- name: Set variables from first control plane
  ansible.builtin.set_fact:
    cluster_ca_cert_hash: "{{ hostvars[first_kube_control_plane].cluster_ca_cert_hash }}"
    join_token: "{{ hostvars[first_kube_control_plane].join_token }}"

- name: Create kubeadm file
  register: kubeadm_file
  when:
  - kubernetes_needs_to_join_cluster
  ansible.builtin.template:
    backup: true
    dest: "{{ kubernetes_config_directory }}/kubeadm.yaml"
    group: root
    mode: '0644'
    owner: root
    src: worker-kubeadm.yaml.j2

- name: Stop kubelet service
  when:
  - kubernetes_needs_to_join_cluster
  ansible.builtin.systemd:
    enabled: true
    name: kubelet
    state: stopped

- name: Add the worker node
  changed_when: kubernetes_join_output.rc == 0
  register: kubernetes_join_output
  when:
  - kubernetes_needs_to_join_cluster
  ansible.builtin.command:
    cmd: kubeadm join --config {{ kubernetes_config_directory }}/kubeadm.yaml {{ kubernetes_kubeadm_join_extra_args | default('') }} 2>&1

# CIS 1.1.20
- name: CIS 1.1.20 - Secure certificates
  ansible.builtin.file:
    mode: '0600'
    path: "{{ kubernetes_pki_directory }}"
    recurse: true

# CIS 4.1.1
- name: CIS 4.1.1 - Set kubelet.service file permissions to 0600
  ansible.builtin.file:
    mode: '0600'
    path: /usr/lib/systemd/system/kubelet.service

# CIS 4.1.9
# STIG V-242407
- name: CIS 4.1.9, STIG V-242407 - Set kubelet config.yaml file permissions to 0600
  ansible.builtin.file:
    mode: '0600'
    path: /var/lib/kubelet/config.yaml

# STIG V-242397
- name: Secure static pod path
  ansible.builtin.replace:
    path: /var/lib/kubelet/config.yaml
    regexp: 'staticPodPath:.*'
    replace: 'staticPodPath:'

- name: Restart kubelet
  when:
  - kubernetes_needs_to_join_cluster
  ansible.builtin.service:
    enabled: true
    name: kubelet
    state: restarted

- name: Post security hooks
  loop: "{{ kubernetes_hookfiles.post_security }}"
  loop_control:
    loop_var: post_security_hook
  when:
  - kubernetes_hookfiles.post_security is defined
  ansible.builtin.include_tasks:
    file: "{{ post_security_hook }}"

- name: Post worker node join hooks
  loop: "{{ kubernetes_hookfiles.post_worker_join }}"
  loop_control:
    loop_var: post_worker_node_join_hook
  when:
  - kubernetes_hookfiles.post_worker_join is defined
  ansible.builtin.include_tasks:
    file: "{{ post_worker_node_join_hook }}"

- name: Get nodes in the cluster
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: kubernetes_nodes
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes -o custom-columns=NAME:.metadata.name --no-headers

- name: Set the node name fact
  ansible.builtin.set_fact:
    kubernetes_node_name: "{% if inventory_hostname in kubernetes_nodes.stdout_lines %}{{ inventory_hostname }}{% elif inventory_hostname_short in kubernetes_nodes.stdout_lines %}{{ inventory_hostname_short }}{% endif %}"

# This kubectl command returns all certificate signing requests for the node in a single line, space separated if there are multiple
- name: Get certificate signing requests
  changed_when: false
  delegate_to: "{{ first_kube_control_plane }}"
  register: csr_check
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf get csr -o jsonpath='{.items[?(@.spec.username=="system:node:{{ kubernetes_node_name }}")].metadata.name}'

- name: Approve certificate signing requests
  changed_when: true
  delegate_to: "{{ first_kube_control_plane }}"
  when:
  - csr_check.stdout != ""
  ansible.builtin.command:
    cmd: kubectl --kubeconfig /etc/kubernetes/admin.conf certificate approve {{ csr_check.stdout }}
