providerRegex: '{{ kubernetes_kubelet_csr_approver_regex }}'
providerIpPrefixes: {{ kubernetes_kubelet_csr_approver_ips | default([]) | to_nice_yaml }}
bypassDnsResolution: {{ kubernetes_kubelet_csr_approver_bypass_dns_checks | default(false) | to_nice_yaml }}
