providerRegex: '{{ kubernetes_kubelet_csr_approver_regex }}'
providerIpPrefixes: '{{ kubernetes_kubelet_csr_approver_ips }}'
bypassDnsResolution: '{{ kubernetes_kubelet_csr_approver_bypass_dns_checks }}'
