services:
  devcontainer:
    devices:
    - /dev/kvm:/dev/kvm
    dns:
    - 172.20.0.10
    environment:
    - DEVCONTAINER=true
    extra_hosts:
    - "cp.k8s.local:127.0.0.1"
    image: quay.io/cyclops-k8s/ansible-kubernetes-devcontainer:latest
    networks:
    - k8s-network
    volumes:
    - ..:/workspace:cached
    - ~/.ssh:/host/.ssh:ro

  dns:
    container_name: k8s-dns
    environment:
    - TZ=UTC
    hostname: dns
    image: ubuntu/bind9:latest
    networks:
      k8s-network:
        ipv4_address: 172.20.0.10
    volumes:
    - ./bind/named.conf:/etc/bind/named.conf:ro
    - ./bind/db.k8s.local:/etc/bind/db.k8s.local:ro

networks:
  k8s-network:
    driver: bridge
    ipam:
      config:
      - subnet: 172.20.0.0/24
