- name: Install packages
  block:
  - name: Kubernetes - Download GPG keyring
    dest: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}
    group: root
    mode: '0644'
    owner: root
    url: https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/Release.key
    ansible.builtin.get_url:

  - name: Add an apt signing key for Kubernetes
    args:
      creates: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg
    ansible.builtin.command: gpg --batch --yes --dearmor /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}

  - name: Set GPG keyring permissions
    group: root
    mode: '0644'
    owner: root
    path: /etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg
    state: file
    ansible.builtin.file:

  - name: Adding apt repository for Kubernetes
    filename: kubernetes
    repo: deb [signed-by=/etc/apt/keyrings/kubernetes-{{ kubernetes_version }}.gpg] {{ kubernetes_mirror }} /
    state: present
    ansible.builtin.apt_repository:

  - name: Get latest specified version of kubeadm, kubelet and kubectl
    changed_when: kubernetes_version_temp.rc != 0
    register: kubernetes_version_temp
    ansible.builtin.shell:
      cmd: |
        set -eo pipefail

        # get the version of the currently installed kubeadm
        REQUESTED_VERSION="{{ kubernetes_version }}"
        CURRENT_VERSION=$(kubeadm version -o short 2>/dev/null || echo -n "")

        if [[ "$CURRENT_VERSION" != "" ]]
        then
          REQUESTED_VERSION="$(sed 's/v//' <<< $CURRENT_VERSION)-"
        fi

        apt-cache madison kubeadm | grep "$REQUESTED_VERSION" | head -n 1 | awk '{print $3}'
      executable: /bin/bash

  # noqa: var-naming[no-role-prefix]
  - name: Set k8s_version fact
    ansible.builtin.set_fact:
      k8s_version: "{{ kubernetes_version_temp.stdout }}"

  - name: Install kubeadm, kubelet, kubectl
    vars:
      packages:
      - kubeadm={{ k8s_version }}
      - kubelet={{ k8s_version }}
      - kubectl={{ k8s_version }}
    when: ansible_facts.os_family == "Debian"
    ansible.builtin.apt:
      name: "{{ packages }}"
      state: present
      update_cache: true

  - name: Hold kubeadm, kubelet and kubectl
    with_items:
    - kubeadm
    - kubelet
    - kubectl
    ansible.builtin.dpkg_selections:
      name: "{{ item }}"
      selection: hold

  - name: Set crictl.yaml options
    ansible.builtin.command:
      cmd: crictl config --set runtime-endpoint=unix:///run/containerd/containerd.sock
      creates: /etc/crictl.yaml

  - name: Start kubelet
    enabled: true
    name: kubelet
    state: started
    ansible.builtin.service:

  rescue:

  - name: Fail install packages
    msg: "Failed to install packages"
    ansible.builtin.fail:
