- name: Pre-prequisites hooks
  ansible.builtin.include_tasks: "{{ item }}"
  with_items: "{{ kubernetes_hookfiles.pre_prerequisites }}"
  when: kubernetes_hookfiles.pre_prerequisites is defined

- name: Install Packages
  ansible.builtin.import_tasks: install-packages.yml

- name: Post install packages hooks
  ansible.builtin.include_tasks: "{{ item }}"
  with_items: "{{ kubernetes_hookfiles.post_install_packages }}"
  when: kubernetes_hookfiles.post_install_packages is defined

- name: Make sure kubernetes config directory exists
  ansible.builtin.file:
    path: "{{ kubernetes_config_directory }}"
    state: directory
    mode: '0700'

- name: Make sure /etc/kubernetes/output directory exists
  ansible.builtin.file:
    path: /etc/kubernetes/output
    state: directory
    mode: '0700'

- name: Configure Kernel
  ansible.builtin.import_tasks: configure-kernel.yml

- name: Configure Swap
  ansible.builtin.import_tasks: configure-swap.yml
  when: allowswap is not defined

- name: Pull kubernetes images
  ansible.builtin.shell:
    cmd: |
      set -eo pipefail
      kubeadm config images pull 2>&1 | tee {{ kubernetes_output_directory }}/images-pulled-{{ k8s_version }}
    creates: "{{ kubernetes_output_directory }}/images-pulled-{{ k8s_version }}"
    executable: /bin/bash
  register: kubernetes_kubeadm_images_pulled
  retries: 10
  until: kubernetes_kubeadm_images_pulled.rc == 0

- name: Define first_kube_control_plane
  ansible.builtin.import_tasks: define-first-kube-control.yml

- name: Pre configure control plane hooks
  ansible.builtin.include_tasks: "{{ item }}"
  with_items: "{{ kubernetes_hookfiles.post_configure_control_planes }}"
  when:
  - inventory_hostname in groups['control_planes']
  - kubernetes_hookfiles.pre_configure_control_planes is defined

- name: Configure control planes
  ansible.builtin.import_tasks: configure-control-plane.yml
  when: inventory_hostname in groups['control_planes']

- name: Post configure control plane hooks
  ansible.builtin.include_tasks: "{{ item }}"
  with_items: "{{ kubernetes_hookfiles.post_configure_control_planes }}"
  when:
  - inventory_hostname in groups['control_planes']
  - kubernetes_hookfiles.post_configure_control_planes is defined

- name: Configure worker hooks
  ansible.builtin.include_tasks: "{{ item }}"
  with_items: "{{ kubernetes_hookfiles.post_configure_workers }}"
  when:
  - groups['worker_nodes'] is defined
  - inventory_hostname in groups['worker_nodes']
  - kubernetes_hookfiles.post_configure_workers is defined
