apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd

# CIS 4.2.5
# STIG V-245541
streamingConnectionIdleTimeout: {{ kubernetes_streamingconnectionidletimeout}}
# CIS 4.2.10
# STIG V-242425
rotateCertificates: true
# CIS 4.2.11
# STIG V-242425
serverTLSBootstrap: true
# CIS 4.2.12
# STIG V-242418
tlsCipherSuites:
{{ kubernetes_strong_cypher_suites | to_nice_yaml }}
# CIS 4.2.15
podPidsLimit: {{ kubernetes_podpidslimit }}
# STIG V-242434
protectKernelDefaults: true
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ kubernetes_api_endpoint }}:{{ kubernetes_api_port }}"
controllerManager:
  extraArgs:
    node-cidr-mask-size: "{{ kubernetes_node_cidr_mask_size }}"
    # CIS 1.3.1
    terminated-pod-gc-threshold: "{{ kubernetes_terminated_pod_gc_threshold }}"
    # TODO: Remove this so it goes back to the 1 year default, this is to test cert rotation/expiration
    cluster-signing-duration: "{{ kubernetes_cluster_signing_duration }}"
    # CIS 1.3.2
    profiling: "{{ kubernetes_profiling | upper}}"
    # STIG V-242378
    tls-min-version: VersionTLS13
networking:
  serviceSubnet: "{{ kubernetes_service_subnet }}"
  podSubnet: "{{ kubernetes_pod_subnet }}"
  dnsDomain: "{{ kubernetes_dns_domain }}"
apiServer:
  extraArgs:
    # CIS 1.2.16
    # STIG V-242465
    # STIG V-242402
    audit-log-path: {{ kubernetes_audit_log_path }}
    # CIS 1.2.17
    # STIG V-242464
    audit-log-maxage: "{{ kubernetes_audit_log_max_age }}"
    # CIS 1.2.18
    # STIG V-242463
    audit-log-maxbackup: "{{ kubernetes_audit_log_max_backup }}"
    # CIS 1.2.19
    # STIG V-242462
    audit-log-maxsize: "{{ kubernetes_audit_log_max_size }}"
    # CIS 1.2.29
    tls-cipher-suites: "{{ kubernetes_strong_cypher_suites | join(",") }}"
    # CIS 3.2.1
    # STIG V-242461
    audit-policy-file: "{{ kubernetes_config_directory }}/audit-policy.yaml"
    # CIS 1.2.6, 1.2.7, 1.2.8
    # STIG V-242382
    authorization-mode: Node,RBAC
    # CIS 3.1.1, 3.1.2, 3.1.3
    authentication-config: "{{ kubernetes_config_directory }}/kube-api-authn.yaml"
    # CIS 1.2.11
    enable-admission-plugins: {{ kubernetes_admission_control_plugins | join(",") }}
    # CIS 1.2.27
    encryption-provider-config: "{{ kubernetes_config_directory }}/encryption.yaml"
    encryption-provider-config-automatic-reload: "true"
    # CIS 1.2.5
    kubelet-certificate-authority: "{{ kubernetes_pki_directory }}/ca.crt"
    # CIS 1.2.15
    profiling: "{{ kubernetes_profiling | upper}}"
    # STIG V-254800
    admission-control-config-file: "{{ kubernetes_config_directory }}/admission-configuration.yaml"
    # STIG V-242378
    tls-min-version: VersionTLS13
{% if kubernetes_service_account_issuer != None %}
    service-account-issuer: "{{ kubernetes_service_account_issuer }}"
{% endif %}
  certSANs:
  - "{{ kubernetes_api_endpoint }}"
  extraVolumes:
    - name: auth
      hostPath: "{{ kubernetes_config_directory }}/kube-api-authn.yaml"
      mountPath: "{{ kubernetes_config_directory }}/kube-api-authn.yaml"
      readOnly: true
      pathType: File
    - name: encryption-config
      hostPath: "{{ kubernetes_config_directory }}/encryption.yaml"
      mountPath: "{{ kubernetes_config_directory }}/encryption.yaml"
      readOnly: true
      pathType: File
    - name: audit-policy
      hostPath: "{{ kubernetes_config_directory }}/audit-policy.yaml"
      mountPath: "{{ kubernetes_config_directory }}/audit-policy.yaml"
      readOnly: true
      pathType: File
    - name: audit-log
      hostPath: /var/log/apiserver
      mountPath: /var/log/apiserver
      readOnly: false
      pathType: DirectoryOrCreate
    - name: admission-configuration
      hostPath: "{{ kubernetes_config_directory }}/admission-configuration.yaml"
      mountPath: "{{ kubernetes_config_directory }}/admission-configuration.yaml"
      readOnly: true
      pathType: File
  timeoutForControlPlane: 4m0s
scheduler:
  extraArgs:
    authentication-tolerate-lookup-failure: "false"
    # CIS 1.4.1
    profiling: "{{ kubernetes_profiling | upper}}"
    # STIG V-242377
    tls-min-version: VersionTLS13
clusterName: "{{ kubernetes_cluster_name }}"
etcd:
  local:
    extraArgs:
      # STIG V-242380
      peer-auto-tls: "false"
      # STIG V-242379
      auto-tls: "false"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
# CIS 4.3.1
metricsBindAddress: "127.0.0.1:10249"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
{% if kubernetes_init_skip_phases is defined and kubernetes_init_skip_phases | length > 0 %}
skipPhases:
{% for phase in kubernetes_init_skip_phases %}
- {{ phase }}
{% endfor %}
{% endif %}
nodeRegistration:
  kubeletExtraArgs:
{% if kubernetes_cloud_provider == 'vsphere' or kubernetes_cloud_provider == 'external' %}
    cloud-provider: "external"
{% endif %}
    node-ip: "{{ ansible_default_ipv4.address}}"
patches:
  directory: {{ kubernetes_config_directory }}/patches
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: UpgradeConfiguration
apply:
  patches:
    directory: {{ kubernetes_config_directory }}/patches
node:
  patches:
    directory: {{ kubernetes_config_directory }}/patches
