apiVersion: apiserver.config.k8s.io/v1beta1
kind: AuthorizationConfiguration
authorizers:
# CIS 1.2.6 (No always allow), 1.2.7 (Requires Node), 1.2.8 (Requires RBAC)
# STIG V-242382 (Requires Node and RBAC)
{% for auth in kubernetes_authorization_pre_node %}
- {{ auth | to_nice_yaml | indent(2) }}
{% endfor %}
- type: Node
  name: node
{% for auth in kubernetes_authorization_pre_rbac %}
- {{ auth | to_nice_yaml | indent(2) }}
{% endfor %}
- type: RBAC
  name: rbac
{% for auth in kubernetes_authorization_post_rbac %}
- {{ auth | to_nice_yaml | indent(2) }}
{% endfor %}
