apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
data:
  admin.password: {{ argocd_admin_password | b64encode }}
  oidc.azure.clientSecret: {{ argocd_oidc_azure_client_secret | b64encode }}
