config:
  enabled: true
  vcenter: "{{ vsphere_cpi_server }}"
  username: "{{ vsphere_cpi_username }}"
  password: "{{ vsphere_cpi_password }}"
  datacenter: "{{ vsphere_cpi_datacenter }}"
  region: "{{ vsphere_cpi_region_category }}"
  zone: "{{ vsphere_cpi_zone_category }}"
