config:
  enabled: true
  vcenter: "{{ kubernetes_vsphere_server }}"
  username: "{{ kubernetes_vsphere_username }}"
  password: "{{ kubernetes_vsphere_password }}"
  datacenter: "{{ kubernetes_vsphere_datacenter }}"
