apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
data:
  admin.enabled: "false"
  url: "{{ argocd_fqdn }}"
  oidc.config: |
    name: Azure
    issuer: https://login.microsoftonline.com/{{ argocd_oidc_azure_tenant_id }}/v2.0
    clientID: {{ argocd_oidc_azure_client_id }}
    clientSecret: $oidc.azure.clientSecret
    requestedIDTokenClaims:
      groups:
        essential: true
    requestedScopes:
    - openid
    - profile
    - email
