apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubernetes_ca | b64encode }}
    server: https://{{kubernetes_api_endpoint}}:6443
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    namespace: default
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: default-auth
  user:
    token: {{ bootstrap_token }}
