kubeProxyReplacement: true
k8sServiceHost: {{ kubernetes_api_endpoint }}
k8sServicePort: {{ kubernetes_api_port }}
ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList:
    - {{ kubernetes_cilium_pod_cidr }}
    clusterPoolIPv4MaskSize: 24
hubble:
  metrics:
    enabled:
    - dns
    - drop
    - tcp
    - flow
    - port-distribution
    - icmp
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
      className: "nginx"
      host: {{ kubernetes_cilium_hubble_fqdn }}
encryption:
  enabled: true
  type: wireguard
prometheus:
  enabled: true
