- name: Update apt repositories
  ansible.builtin.apt:
    update_cache: true

- name: Make sure the gpg package is installed
  ansible.builtin.apt:
    name:
    - gpg
    state: present

- name: Create keyring directory
  ansible.builtin.file:
    group: root
    mode: '0755'
    owner: root
    path: /etc/apt/keyrings
    state: directory

- name: Download GPG keyring
  ansible.builtin.get_url:
    dest: /etc/apt/keyrings/docker
    group: root
    mode: '0644'
    owner: root
    url: https://download.docker.com/linux/debian/gpg

- name: Dearmor gpg keyring
  ansible.builtin.command:
    cmd: gpg --batch --yes --dearmor /etc/apt/keyrings/docker
    creates: /etc/apt/keyrings/docker.gpg

- name: Set GPG keyring permissions
  ansible.builtin.file:
    group: root
    mode: '0644'
    owner: root
    path: /etc/apt/keyrings/docker.gpg
    state: file

- name: Add Docker Repository
  ansible.builtin.apt_repository:
    filename: docker
    repo: deb [signed-by=/etc/apt/keyrings/docker.gpg] {{ containerd_mirror }} {{ ansible_facts["distribution_release"] | lower }} stable
    state: present
    update_cache: true

- name: Install containerd
  ansible.builtin.apt:
    name:
    - containerd.io
    state: present

- name: Hold containerd.io
  ansible.builtin.dpkg_selections:
    name: containerd.io
    selection: hold

- name: Configure containerd
  ansible.builtin.include_tasks:
    file: configure-containerd.yml
